<div class="class">
  <nav>
    <ol>
      <li><a routerLink="introducao">Primeiros passos com o Angular</a></li>

      <li><a routerLink="interpolacao-texto">Interpolação</a></li>
      <li><a routerLink="pipe-component">Pipes</a></li>
      <li>
        <a routerLink="property-binding-and-event-binding"
          >Property Binding (PB) e Event Binding (EB)</a
        >
      </li>
      <li>
        <a routerLink="to-way-data-binding"
          >Manusear do componente HTML para o TypeScript e vice versa (To-Way
          Data Binding)</a
        >
      </li>
      <li><a routerLink="renderizar-listas">Renderizar Listas</a></li>
      <li>
        <a routerLink="comunicacao-dois-component"
          >Interação entre componentes</a
        >
      </li>
      <li><a routerLink="service-component">Services</a></li>
      <li><a routerLink="ng-content">Ng-content</a></li>
      <li><a routerLink="acessar-parametros-url">Acessar parametros URL</a></li>
      <li><a routerLink="pagina-protegida">Pagina Protegida</a></li>
      <li><a routerLink="login">Login</a></li>
    </ol>
  </nav>
</div>
